<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zsw.daos.CompanyMapper" >
  <!--<resultMap id="BaseResultMap" type="com.zsw.entitys.Company" >-->
    <!--<id column="id" property="id" jdbcType="INTEGER" />-->
    <!--<result column="name" property="name" jdbcType="VARCHAR" />-->
    <!--<result column="status" property="status" jdbcType="INTEGER" />-->
    <!--<result column="url" property="url" jdbcType="VARCHAR" />-->
    <!--<result column="mnemonic_code" property="mnemonicCode" jdbcType="VARCHAR" />-->
    <!--<result column="contact" property="contact" jdbcType="VARCHAR" />-->
    <!--<result column="contact_phone" property="contactPhone" jdbcType="VARCHAR" />-->
    <!--<result column="contact_address" property="contactAddress" jdbcType="VARCHAR" />-->
    <!--<result column="size" property="size" jdbcType="INTEGER" />-->
    <!--<result column="creator_id" property="creatorId" jdbcType="INTEGER" />-->
    <!--<result column="contract_start_at" property="contractStartAt" jdbcType="DATE" />-->
    <!--<result column="contract_end_at" property="contractEndAt" jdbcType="DATE" />-->
    <!--<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />-->
    <!--<result column="create_user" property="createUser" jdbcType="INTEGER" />-->
    <!--<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />-->
    <!--<result column="update_user" property="updateUser" jdbcType="INTEGER" />-->
    <!--<result column="manager_id" property="managerId" jdbcType="INTEGER" />-->
    <!--</resultMap>-->
  <resultMap id="CompanyEntityMap" type="com.zsw.entitys.CompanyEntity" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="mnemonic_code" property="mnemonicCode" jdbcType="VARCHAR" />
    <result column="contact" property="contact" jdbcType="VARCHAR" />
    <result column="contact_phone" property="contactPhone" jdbcType="VARCHAR" />
    <result column="contact_address" property="contactAddress" jdbcType="VARCHAR" />
    <result column="size" property="size" jdbcType="INTEGER" />
    <result column="creator_id" property="creatorId" jdbcType="INTEGER" />
    <result column="contract_start_at" property="contractStartAt" jdbcType="DATE" />
    <result column="contract_end_at" property="contractEndAt" jdbcType="DATE" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_user" property="createUser" jdbcType="INTEGER" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="update_user" property="updateUser" jdbcType="INTEGER" />
    <result column="manager_id" property="managerId" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="SimpleCompanyDtoMap" type="com.zsw.entitys.user.SimpleCompanyDto" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="url" property="url" jdbcType="VARCHAR" />
  </resultMap>

  <select id="listCompanyEntity" resultMap="CompanyEntityMap">

    SELECT
    c.*
    FROM company c
    LEFT JOIN department d ON d.company_id = c.id
    LEFT JOIN department_user du ON du.department_id = d.id
    LEFT JOIN `user` u ON  u.id = du.user_id
    WHERE 1=1
    <if test="paramMap.userId != null and paramMap.userId > 0">
      AND u.id = #{paramMap.userId}
    </if>
    <if test="paramMap.companyId != null and paramMap.companyId > 0">
      AND c.id = #{paramMap.companyId}
    </if>
    <if test="paramMap.companyName != null and paramMap.companyName != ''">
      AND c.`name` LIKE '%${paramMap.companyName}%'
    </if>
    <if test="paramMap.mnemonicCode != null and paramMap.mnemonicCode != ''">
      AND c.mnemonic_code LIKE '%${paramMap.mnemonicCode}%'
    </if>

    <if test="paramMap.status != null and paramMap.status >= 0">
      AND c.`status` = #{paramMap.status}
    </if>
    <if test="paramMap.beginCreateTime !=null">
      AND c.create_time >= Date(#{paramMap.beginCreateTime})
    </if>
    <if test="paramMap.endCreateTime !=null">
      <![CDATA[ AND c.create_time <=  Date(#{paramMap.endCreateTime}) ]]>
    </if>

    <if test="paramMap.companySize != null and paramMap.companySize > 0">
      AND c.`size` = #{paramMap.companySize}
    </if>

    <if test="paramMap.creatorId != null and paramMap.creatorId > 0">
      AND c.creator_id = #{paramMap.creatorId}
    </if>

      GROUP BY c.id

    <if test="paramMap.start !=null and paramMap.start >= 0
         and paramMap.pageSize !=null and paramMap.pageSize > 0">
      LIMIT ${paramMap.start} , ${paramMap.pageSize}
    </if>
  </select>



    <select id="listCompanyEntityCount" resultType="Integer">

        SELECT
        COUNT(c.id)
        FROM company c
        LEFT JOIN department d ON d.company_id = c.id
        LEFT JOIN department_user du ON du.department_id = d.id
        LEFT JOIN `user` u ON  u.id = du.user_id
        WHERE 1=1
        <if test="paramMap.userId != null and paramMap.userId > 0">
            AND u.id = #{paramMap.userId}
        </if>
        <if test="paramMap.companyId != null and paramMap.companyId > 0">
            AND c.id = #{paramMap.companyId}
        </if>
        <if test="paramMap.companyName != null and paramMap.companyName != ''">
            AND c.`name` LIKE '%${paramMap.companyName}%'
        </if>
        <if test="paramMap.mnemonicCode != null and paramMap.mnemonicCode != ''">
            AND c.mnemonic_code LIKE '%${paramMap.mnemonicCode}%'
        </if>

        <if test="paramMap.status != null and paramMap.status >= 0">
            AND c.`status` = #{paramMap.status}
        </if>
        <if test="paramMap.beginCreateTime !=null">
            AND c.create_time >= Date(#{paramMap.beginCreateTime})
        </if>
        <if test="paramMap.endCreateTime !=null">
            <![CDATA[ AND c.create_time <=  Date(#{paramMap.endCreateTime}) ]]>
        </if>

        <if test="paramMap.companySize != null and paramMap.companySize > 0">
            AND c.`size` = #{paramMap.companySize}
        </if>

        <if test="paramMap.creatorId != null and paramMap.creatorId > 0">
            AND c.creator_id = #{paramMap.creatorId}
        </if>

        GROUP BY c.id

    </select>


  <select id="getCompanyEntity" resultMap="CompanyEntityMap">
    SELECT
    --     c.id,
    --     c.`name`,
    --     c.url,
    --     c.`status`
    FROM company c
    WHERE 1=1
    <if test="paramMap.companyId != null and paramMap.companyId > 0">
      AND c.id = #{paramMap.companyId}
    </if>

  </select>

    <select id="checkCompanyManagerIds" resultType="Integer">
        SELECT c.manager_id
        FROM company c
        WHERE 1=1
        <if test="userIds !=null ">
            AND c.manager_id in
            <foreach item="item" collection="userIds" separator="," open="(" close=")" index="">
                #{item, jdbcType=NUMERIC}
            </foreach>
        </if>
    </select>

</mapper>