<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsw.daos.UserMapper">
  <!--<resultMap id="BaseResultMap" type="com.zsw.entitys.User">-->
    <!--<id column="id" jdbcType="INTEGER" property="id" />-->
    <!--<result column="user_name" jdbcType="VARCHAR" property="userName" />-->
    <!--<result column="phone" jdbcType="VARCHAR" property="phone" />-->
    <!--<result column="email" jdbcType="VARCHAR" property="email" />-->
    <!--<result column="login_pwd" jdbcType="VARCHAR" property="loginPwd" />-->
    <!--<result column="status" jdbcType="INTEGER" property="status" />-->
    <!--<result column="avatar" jdbcType="VARCHAR" property="avatar" />-->
    <!--<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />-->
    <!--<result column="create_user" jdbcType="INTEGER" property="createUser" />-->
    <!--<result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />-->
    <!--<result column="update_user" jdbcType="INTEGER" property="updateUser" />-->
  <!--</resultMap>-->

  <resultMap id="BaseResultDtoMap" type="com.zsw.entitys.user.UserDto">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <!--<result column="login_pwd" jdbcType="VARCHAR" property="loginPwd" />-->
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="avatar" jdbcType="VARCHAR" property="avatar" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_user" jdbcType="INTEGER" property="createUser" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_user" jdbcType="INTEGER" property="updateUser" />
  </resultMap>

  <select id="usersPage" resultMap="BaseResultDtoMap">
    SELECT
    u.*
    FROM user u
    LEFT JOIN department_user du ON du.user_id = u.id
    LEFT JOIN department d ON du.department_id = d.id
    LEFT JOIN company c ON d.company_id = c.id
    WHERE 1 = 1

    <if test="paramMap.status != null and paramMap.status >= 0">
      AND u.`status` = #{paramMap.status}
    </if>
    <if test="paramMap.departmentId != null and paramMap.departmentId > 0">
      AND d.id = #{paramMap.departmentId}
    </if>
    <if test="paramMap.companyId != null and paramMap.companyId > 0">
      AND c.id = #{paramMap.companyId}
    </if>
    <if test="paramMap.phone != null and paramMap.phone != ''">
      AND u.phone LIKE '%${paramMap.phone}%'
    </if>
    <if test="paramMap.email != null and paramMap.email != ''">
      AND u.email LIKE '%${paramMap.email}%'
    </if>
    <if test="paramMap.userName != null and paramMap.userName != ''">
      AND u.user_name LIKE '%${paramMap.userName}%'
    </if>
    <if test="paramMap.beginCreateTime !=null">
      AND u.create_time >= Date(#{paramMap.beginCreateTime})
    </if>
    <if test="paramMap.endCreateTime !=null">
      <![CDATA[ AND u.create_time <=  Date(#{paramMap.endCreateTime}) ]]>
    </if>

    GROUP BY u.id

    <if test="paramMap.start !=null and paramMap.start >= 0
         and paramMap.pageSize !=null and paramMap.pageSize > 0">
      LIMIT ${paramMap.start} , ${paramMap.pageSize}
    </if>



  </select>
  <select id="usersPageCount" resultType="Integer">
    SELECT
    COUNT(DISTINCT u.id)
    FROM user u
    LEFT JOIN department_user du ON du.user_id = u.id
    LEFT JOIN department d ON du.department_id = d.id
    LEFT JOIN company c ON d.company_id = c.id
    WHERE 1 = 1

    <if test="paramMap.status != null and paramMap.status >= 0">
      AND u.`status` = #{paramMap.status}
    </if>
    <if test="paramMap.departmentId != null and paramMap.departmentId > 0">
      AND d.id = #{paramMap.departmentId}
    </if>
    <if test="paramMap.companyId != null and paramMap.companyId > 0">
      AND c.id = #{paramMap.companyId}
    </if>
    <if test="paramMap.phone != null and paramMap.phone != ''">
      AND u.phone LIKE '%${paramMap.phone}%'
    </if>
    <if test="paramMap.email != null and paramMap.email != ''">
      AND u.email LIKE '%${paramMap.email}%'
    </if>
    <if test="paramMap.userName != null and paramMap.userName != ''">
      AND u.user_name LIKE '%${paramMap.userName}%'
    </if>
    <if test="paramMap.beginCreateTime !=null">
      AND u.create_time >= Date(#{paramMap.beginCreateTime})
    </if>
    <if test="paramMap.endCreateTime !=null">
      <![CDATA[ AND u.create_time <=  Date(#{paramMap.endCreateTime}) ]]>
    </if>


  </select>

  <select id="checkUserExist" resultType="Map">
    SELECT
    group_concat(u.user_name separator ',')  AS user_name,
    group_concat(u.phone separator ',')  AS user_phone,
    group_concat(u.email separator ',')  AS user_email
    FROM user u
    LEFT JOIN department_user du ON du.user_id = u.id
    LEFT JOIN department d ON du.department_id = d.id
    LEFT JOIN company c ON d.company_id = c.id
    WHERE 1 = 1
    <if test="paramMap.companyId != null and paramMap.companyId > 0">
      AND c.id = #{paramMap.companyId}
    </if>
    <if test="paramMap.notUserId != null and paramMap.notUserId > 0">
      AND u.id != #{paramMap.notUserId}
    </if>
    <if test="paramMap.userName != null and paramMap.userName != ''">
      AND (
      u.user_name = '${paramMap.userName}'
    </if>
    <if test="paramMap.userPhone != null and paramMap.userPhone != ''">
      OR u.phone = '${paramMap.userPhone}'
    </if>
    <if test="paramMap.userEmail != null and paramMap.userEmail != ''">
      OR u.email = '${paramMap.userEmail}'
      )
    </if>
  </select>


</mapper>